<div class="container-fluid">

    <div class="row">

        <div class="col-md-12" id='img-bg'>
            <div class="row d-flex justify-content-center"></div>
            <div class="col-md-6 container-fluid ">
                <h1 class="text-center  mb-5 mt-5 ">Cadastre-se</h1>

                <div class="form-group">
                    <label for="nome" class="mb-2">Nome</label>
                    <input [(ngModel)]='user.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome" >
                </div>

                <div class="form-group">
                    <label for="usuario" class="mb-2">Usuario</label>
                    <input [(ngModel)]='user.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Nome Usuario " >
                </div>

                <div class="form-group mt-5 ">
                    <label for="foto" class="mb-2">Link Da Foto</label>
                    <input  [(ngModel)]='user.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
                </div>

                <div class="form-group mt-5 ">
                    <label for="password" class="mb-2">Password</label>
                    <input (input)='confrimeSenha($event)' class="form-control" type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="form-group mt-5 ">
                    <label for="confirmar" class="mb-2">Confirmar</label>
                    <input [(ngModel)]='user.senha' class="form-control" type="password" name="confirmar" id="confirmar"
                        placeholder="Confirmar a sua senha">
                </div>
                <div class="form-group mt-5">
                    <label for="tipo">Tipo de Usuario</label>
                    <select (chage)='tipoUser($event)' class="form-control" name="tipo" id="tipo">
                        <option>Selecione um tipo de usuario: </option>
                        <option value="normal">Normal</option>
                        <option value="adm">Adm</option>
                    </select>
                </div>
                <div class="d-flex align-items-center mb-5 "></div>
                <button class="btn btn-danger me-3" type="submit" routerLink='/entrar'>Cancelar</button>
                <button (click)='cadastrar()' class="btn btn-success " type="submit" >Cadastrar</button>
            </div>

        </div>
    </div>
</div>