#img-bg{
    background-image: url('https://wallpapercave.com/wp/wp2757874.gif');
    
    min-height: 864px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: whitesmoke;

   
}

